* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  color: #333;
}

nav {
    background-color: #333; 
}

nav ul {
 list-style-type: none; 
 margin: 10px;
 padding: 10px;
}

nav ul>li a {
  text-decoration: none; 
  padding: 20px 10 px;
  color:white;
  background-color: lightpink;  
  display: block; 
  margin:10px;
}

nav ul>li a:hover {
  background-color: cadetblue;
}


h1 {
  font-size: 3em;
  text-align: center; 
}

.row {
  display: flex;
  flex-direction: column; 
}


@media (min-width: 425px) {
  h1 {
    font-size: 3em;
  }
  .row {
    display: flex;
    flex-direction: row; 
  }
   nav ul {
       overflow:hidden; 
    }
    nav ul>li{
        float: left; 
    }
    nav ul>li a {
        background-color: blue
    }
}

@media (min-width: 800px) {
  h1 {
  font-size: 4em;
  }
  nav a{
    background-color: blue; 
  }
  nav ul>li a {
        background-color: green;
    }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 5em;
  }
}


