@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:700');
@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700');


*{
    box-sizing: border-box;
}

h1 {
    font-size: 4em;
    text-align: left; 
    text-transform: uppercase;
    font-family: 'Cinzel Decorative', cursive;
}


body {
    background-color:lightgray;
    font-family: 'Teko', sans-serif;
}


.flex-row {
    display: flex;
    flex-direction: column;
}


@media screen and (min-width:600px) {
   .flex-row {
        flex-direction: row;
    } 
}

.flex-gutter {
    padding-left: 50px;
    padding-right: 50px;
}

#ImgContainer>img{
    width: 200%;
    height: auto;
}

#IMG>img{
    padding-left: 300px;
}

#TwoP>div {
    padding: 0 30px;
    text-align: center
}

.searchbar {
    padding-right: 50px;
}

#bestseller {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}

p {
    font-size: 21px;
}

.greenbar {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
}

.cart{
    padding-left: 1250px;
}

.resize{
    width: 400px;   
    height: 350px; 
    padding-left: 100px;
    padding-right: 100px;
}

.measurements {
    font-size: 27px;
    padding-left: 500px;
}

.buy{
    text-align: center; 
    padding-top: 15px;
    padding-bottom: 15px;
}

.numberbar{
    padding-left: 400px;
    padding-right: 400px;
}

#ImgContainer {
    display: flex;
    margin: 90px;
}

h3 {
    padding: 20px;
}